{% block sidebar_body %}
  <div class="d-flex flex-column h-100">
    <div class="m-0 mb-5 d-flex flex-row">
      <h1>
        {{ task.name }}
      </h1>

      <button
        class="btn disabled"
      >
        {{ task.stage.title }}
      </button>
    </div>

    {% block sidebar_content %}
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-end mb-5">
          <button id="task-history" class="btn btn-outline-warning" data-task-id="{{ task.id }}">
            История
          </button>
        </div>

        <div class="d-flex flex-column">
          <div class="d-flex flex-row mb-4 align-items-center">
            <span class="text-muted col">
              Автор: 
            </span>

            <button class="btn btn-light disabled col">
              {{ task.author.fullname }}
            </button>
          </div>
          
          <div class="d-flex flex-row mb-4 align-items-center">
            <span class="text-muted col">
              Текущий исполнитель: 
            </span>
            
            <select
              class="form-control select2 form-select d-inline col"
              data-placeholder="Выберите пользователя"
              name="reassign_to"
              form="reassign-performer"
              role="button"
            >
              {% for user in all_users %}
                <option
                  value="{{ user.id }}"
                  {% if task.performer.id == user.id %}
                    selected
                  {% endif %}
                >
                  {{ user.fullname }}
                </option>
              {% endfor %}
            </select>
          </div>
          
          <hr class="mt-0 mb-4" />

          {% for value in task.all_values %}
            <div class="d-flex flex-row mb-4 align-items-center">
              <span class="text-muted col">
                {{ value.field.title }}: 
              </span>

              <button class="btn btn-light disabled col">
                {% if value.displayed_value == None %}
                  ─
                {% elif value.field.field_type == field_types.DATE %}
                  {{ value.displayed_value|date:"H:i m.d.Y" }}
                {% else %}
                  {{ value.displayed_value }}
                {% endif %}
              </button>
            </div>
          {% endfor %}

          <hr class="mt-0 mb-4" />
          
          <form id="reassign-performer" method="POST" action="reassign/" class="mt-auto">
            <button class="btn btn-block btn-outline-primary mb-3" name="task_id" value="{{ task.id }}">
              Переназначить
            </button>
          </form>

          <form method="POST" action="" class="mt-auto">
            <input type="hidden" name="task_id" value="{{ task.id }}">

            {% if task.stage.childs|length != 0 %}
              {% for next in task.stage.childs %}
                <button
                  class="btn btn-block
                    {% if next.scheme == stage_schemes.DEFAULT %} btn-outline-info
                    {% elif next.scheme == stage_schemes.SUCCESS %} btn-outline-success
                    {% elif next.scheme == stage_schemes.WAIT %} btn-outline-warning
                    {% endif %}
                  "
                  name="next_id"
                  value="{{ next.id }}"
                >
                  {{ next.button_name }}
                </button>
              {% endfor %}
            {% endif %}
          </form>
        </div>
      </div>
    {% endblock sidebar_content %}
  </div>
{% endblock sidebar_body %}