{% extends 'index.html' %}

{% load static %}

{% block header %}
  Список задач
{% endblock header %}

{% block styles %}
  <link href="{% static ''%}assets/plugins/select2/select2.min.css" rel="stylesheet" />
{% endblock styles %}

{% block task_sidebar %}
  <form class="d-flex flex-column h-100" action="new_task/" method="POST">
    <h1 class="m-0 mb-5">Создание задачи</h1>

    <div class="border-bottom mb-5">
      {% for field in task.regulations.all_fields %}
        <div class="mb-5">
          <label class="form-label">
            {{ field.title }}
          </label>

          {% if field.field_type == %}
        </div>
      {% endfor %}
      <div class="mb-5">
        <label class="form-label">Название органа</label>
        <select class="form-control form-select" data-placeholder="Выберите компанию" name="company" role="button" required>
          {% for company in company_list %}
            <option value="{{ company.id }}">
              {{ company.name }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-5">
        <label class="form-label">Район</label>
        <select class="form-control form-select" data-placeholder="Выберите район" name="district" role="button" required>
          {% for district in districts %}
            <option value="{{ district.0 }}">
              {{ district.1 }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-5">
        <label class="form-label">Вид нарушения</label>
        <select class="form-control form-select" data-placeholder="Выберите вид нарушения" name="violation" role="button" required>
          {% for violation in violation_list %}
            <option value="{{ violation.id }}">
              {{ violation.species }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-5">
        <label class="form-label">Номер акта</label>
        <input class="form-control form-control-lg w-50" placeholder="000 000" name="number" required />
      </div>

      <div class="mb-5">
        <label class="form-label">Сотрудник, составивший акт</label>
        <select class="form-control form-select" data-placeholder="Выберите сотрудника" name="user" role="button" required>
          {% for user in user_list %}
            <option value="{{ user.id }}">
              {{ user.fullname }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="d-flex flex-column w-100 align-self-end mt-auto">
      <button type="submit" class="btn btn-success btn-lg mb-3">Создать заявку</button>
      <button type="button" class="btn btn-light btn-lg">Архивировать</button>
    </div>
  </form>
{% endblock task_sidebar %}

{% block body %}
  <div class="d-flex flex-row justify-content-end bg-transparent my-2">
    <button type="button" class="btn btn-info" id="new-task-button">
      <i class="fe fe-plus mr-2"></i>
      Новое правонарушение
    </button>
  </div>

  <div class="card shadow-none" style="margin-top: 30px">
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap mb-0">
        <thead >
          <tr>
            {% for task in new_task_list %}
              {% for field in task.table_fields %}
                <th class="py-5 text-capitalize task__table-header">
                  {{ field.title }}
                </th>
              {% endfor %}

              <th class="py-5 text-capitalize task__table-header">
                Исполнитель
              </th>

              <th class="py-5 text-capitalize task__table-header">
                Регламент
              </th>

              <th class="py-5 text-capitalize task__table-header">
                Действия
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for task in new_task_list %}
            <tr class="{% if task.regulation.reg_type == reg_types.ERROR %} task__arrears {% endif %}">
              {% for field in task.table_fields %}
                <td class="task__table-row">
                  {% if field.get_first_value == None %}
                    ─
                  {% elif field.field_type == field_types.DATE %}
                    {{ field.get_first_value|date:"H:i m.d.Y" }}
                  {% elif field.field_type == field_types.NUM %}
                    № {{ field.get_first_value }}
                  {% else %}
                    {{ field.get_first_value }}
                  {% endif %}
                </td>
              {% endfor %}

              <td class="task__table-row">
                {{ task.performer.fullname }}
              </td>

              <td scope="row" class="
                {% if task.regulations.reg_type == reg_types.SUCCESS %} task__cons
                {% elif task.regulations.reg_type == reg_types.WAIT %} task__approval
                {% elif task.regulations.reg_type == reg_types.ERROR %} task__status-arrears
                {% endif %}
              ">
                {{ task.regulations.title }}
              </td>

              <td class="task__table-row">
                <form method="POST" action="">
                  <input type="hidden" name="task_id" value="{{ task.id }}">

                  {% if task.regulations.childs|length != 0 %}
                    {% for next in task.regulations.childs %}
                      <button
                        class="btn
                          {% if next.reg_type == reg_types.DEFAULT %} btn-outline-info
                          {% elif next.reg_type == reg_types.SUCCESS %} btn-outline-success
                          {% elif next.reg_type == reg_types.WAIT %} btn-outline-warning
                          {% endif %}
                        "
                        name="next_id"
                        value="{{ next.id }}"
                      >
                        {{ next.button_name }}
                      </button>
                    {% endfor %}
                  {% endif %}
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock body %}

{% block scripts %}  
{% endblock scripts %}