{% extends 'index.html' %}

{% load static %}

{% block page_title %}
	Панель управления | Список задач
{% endblock %}

{% block header %}
  Список задач
{% endblock header %}

{% block styles %}
  <link href="{% static ''%}assets/plugins/select2/select2.min.css" rel="stylesheet" />
{% endblock styles %}

{% block task_sidebar %}
  <div class="sidebar-body__wrapper">
    {% block sidebar_body %}
      
    {% endblock sidebar_body %}
  </div>
{% endblock task_sidebar %}

{% block body %}
  <div class="d-flex flex-row justify-content-end bg-transparent my-2">
    <button type="button" class="btn btn-info" id="new-task-button">
      <i class="fe fe-plus mr-2"></i>
      Новое правонарушение
    </button>
  </div>

  <div class="btn-group mt-2 mb-2">
		<button type="button" class="btn task-show-options without-arrow dropdown-toggle" data-bs-toggle="dropdown">
			Отображать заявки: {{ current_coverage }},
		</button>

		<ul class="dropdown-menu" role="menu">
      {% for link, title in cov_urls.items %}
        <li>
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
		</ul>

    <button type="button" class="btn task-show-options dropdown-toggle" data-bs-toggle="dropdown">
			{{ showed_data }} <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu">
			{% for link, title in show_urls.items %}
        <li>
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
		</ul>
	</div>

  <div class="card shadow-none" style="margin-top: 30px">
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap mb-0">
        <thead >
          <tr>
            {% for field in task_list.0.table_fields %}
              <th class="py-5 text-capitalize task__table-header">
                {{ field.title }}
              </th>
            {% endfor %}

            <th class="py-5 text-capitalize task__table-header">
              Исполнитель
            </th>

            <th class="py-5 text-capitalize task__table-header">
              Этап
            </th>

            <th class="py-5 text-capitalize task__table-header">
              Действия
            </th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
            <tr
              class="
                {% if task.stage.scheme == stage_schemes.ERROR %}
                  task__arrears
                {% endif %}
                task-hover-effect
              "
              role="button"
              data-task-id="{{ task.id }}"
            >
              {% for value in task.table_values %}
                <td class="task__table-row">
                  {% if value.displayed_value == None %}
                    ─
                  {% elif value.field.field_type == field_types.DATE %}
                    {{ value.displayed_value|date:"H:i m.d.Y" }}
                  {% else %}
                    {{ value.displayed_value }}
                  {% endif %}
                </td>
              {% endfor %}

              <td class="task__table-row">
                {{ task.performer.fullname }}
              </td>

              <td scope="row" class="
                {% if task.stage.scheme == stage_schemes.SUCCESS %} task__cons
                {% elif task.stage.scheme == stage_schemes.WAIT %} task__approval
                {% elif task.stage.scheme == stage_schemes.ERROR %} task__status-arrears
                {% endif %}
              ">
                {{ task.stage.title }}
              </td>

              <td class="task__table-row">
                <form method="POST" action="">
                  <input type="hidden" name="task_id" value="{{ task.id }}">

                  {% if task.stage.childs|length != 0 %}
                    {% for next in task.stage.childs %}
                      <button
                        class="btn
                          {% if next.scheme == stage_schemes.DEFAULT %} btn-outline-info
                          {% elif next.scheme == stage_schemes.SUCCESS %} btn-outline-success
                          {% elif next.scheme == stage_schemes.WAIT %} btn-outline-warning
                          {% endif %}
                        "
                        name="next_id"
                        value="{{ next.id }}"
                      >
                        {{ next.button_name }}
                      </button>
                    {% endfor %}
                  {% endif %}
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock body %}

{% block scripts %}  
{% endblock scripts %}