{% block sidebar_body %}
  <div class="d-flex flex-column h-100">
    <div class="m-0 mb-5 d-flex flex-row">
      <h1>
        История
      </h1>
    </div>

    {% block sidebar_content %}
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-end">
          <button id="task-view" class="btn btn-outline-info" data-task-id="{{ task.id }}">
            Вернуться
          </button>
        </div>

        {% for date, records in history.items %}
          <p class="my-3">
            {{ date }}
          </p>

          {% for record in records %}
            <div class="text-muted row">
              <span class="col-2">
                {{ record.datetime|date:"H:i" }}
              </span>

              <span class="col">
                {{ record.action }}
              </span>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endblock sidebar_content %}
  </div>
{% endblock sidebar_body %}