{% extends 'index.html' %}

{% load static %}

{% block page_title %}
	Панель управления | Список сотрудников
{% endblock %}

{% block header %}
  Список сотрудников
{% endblock header %}

{% block styles %}
{% endblock styles %}


{% block body %}
  <a>Filter</a>
  <div class="card shadow-none" style="margin-top: 30px">
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap mb-0">
        <thead >
          <tr>
            <th>ФИО</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Электронная почта</th>
            <th>Телефон</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
            <tr>
              <td scope="row" class="py-5">
                {{ user.fullname }}
              </td>

              <td class="py-5">
                {% if user.department.name %}
                  {{ user.department.name }}
                {% else %}
                  Не определено
                {% endif %}
              </td>

              <td class="py-5">
                {% if user.position %}
                  {{ user.position }}
                {% else %}
                  Не определено
                {% endif %}

              </td>

              <td class="py-5">
                {% if user.email %}
                  {{ user.email }}
                {% else %}
                  Не определено
                {% endif %}
              </td>

              <td class="py-5">
                {% if user.telephone %}
                  {{ user.telephone }}
                {% else %}
                  Не определено
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}